:root {
  --color-txt-main: #333;
  --color-txt-button: white;
  --color-bkg-button: #007aff;
  --color-txt-lnk: #007aff;
  --color-bkg-button-hover: #006ee6;
  --color-bkg-button-disabled: #a9a9a9;
  --color-gray-light: #eee;
  --color-pt-blue: #213854;
  --color-pt-blue-dark: #1b2c42;
  --color-pt-blue-light: #354a63;
  --color-options-bar: #007aff;
  --color-options-bar-txt: white;
  --color-options-bar-pill: #5d6e82;
  --color-panel-hover: #ecedf3;
  --color-warn: orange;
  --color-alert: red;
}

:root {
  --font-family: 'Roboto';
  --font-size-xl: 20px;
  --font-size-l: 17px;
  --font-size-m: 14px;
  --font-size-s: 12px;
}

.font-size-xl {
  font-size: 20px;
  font-size: var(--font-size-xl);
}

.font-size-l {
  font-size: 17px;
  font-size: var(--font-size-l);
}

.font-size-m {
  font-size: 14px;
  font-size: var(--font-size-m);
}

.font-size-s {
  font-size: 12px;
  font-size: var(--font-size-s);
}

.font-bold {
  font-weight: bold;
}

.inactive {
  text-decoration: line-through;
}

:root {
  --color-txt-main: #333;
  --color-txt-button: white;
  --color-bkg-button: #007aff;
  --color-txt-lnk: #007aff;
  --color-bkg-button-hover: #006ee6;
  --color-bkg-button-disabled: #a9a9a9;
  --color-gray-light: #eee;
  --color-pt-blue: #213854;
  --color-pt-blue-dark: #1b2c42;
  --color-pt-blue-light: #354a63;
  --color-options-bar: #007aff;
  --color-options-bar-txt: white;
  --color-options-bar-pill: #5d6e82;
  --color-panel-hover: #ecedf3;
  --color-warn: orange;
  --color-alert: red;
}

:root {
  --font-family: 'Roboto';
  --font-size-xl: 20px;
  --font-size-l: 17px;
  --font-size-m: 14px;
  --font-size-s: 12px;
}

.font-size-xl {
  font-size: 20px;
  font-size: var(--font-size-xl);
}

.font-size-l {
  font-size: 17px;
  font-size: var(--font-size-l);
}

.font-size-m {
  font-size: 14px;
  font-size: var(--font-size-m);
}

.font-size-s {
  font-size: 12px;
  font-size: var(--font-size-s);
}

.font-bold {
  font-weight: bold;
}

.inactive {
  text-decoration: line-through;
}

:root {
  --margin-inputs: 4px 4px 4px 0;
  --border-radius: 3px;
}

body {
  padding: 0;
  margin: 0;
  color: var(--color-txt-main);
  font-family: var(--font-family), Helvetica, Arial, sans-serif;
  font-size: var(--font-size-m);
  line-height: 150%;
  overflow-y: hidden;
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-bkg-button);
}

a:hover {
  color: var(--color-bkg-button-hover);
}

button {
  font-size: var(--font-size-m);
  padding: 7px;
  color: var(--color-txt-button);
  background-color: var(--color-bkg-button);
  margin: 4px 4px 4px 0;
  margin: var(--margin-inputs);
  border: none;
  border-radius: 3px;
  border-radius: var(--border-radius);
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: var(--color-bkg-button-hover);
}

button:disabled {
  background-color: var(--color-bkg-button-disabled);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --spacing-xl: 50px;
  --spacing-l: 30px;
  --spacing-m: 15px;
  --spacing-s: 10px;
  --spacing-xs: 5px;
  --spacing-xxs: 3px;
  --border-radius-s: 3px;
  --border-radius-m: 5px;
}

.padding-m {
  padding: 15px;
  padding: var(--spacing-m);
}

.padding-s {
  padding: 10px;
  padding: var(--spacing-s);
}

.padding-xs {
  padding: 5px;
  padding: var(--spacing-xs);
}

.spacing-top-xs {
  margin-top: 5px;
  margin-top: var(--spacing-xs);
}

.spacing-top-m {
  margin-top: 15px;
  margin-top: var(--spacing-m);
}

/* we also need to add margins here */

:root {
  --color-txt-main: #333;
  --color-txt-button: white;
  --color-bkg-button: #007aff;
  --color-txt-lnk: #007aff;
  --color-bkg-button-hover: #006ee6;
  --color-bkg-button-disabled: #a9a9a9;
  --color-gray-light: #eee;
  --color-pt-blue: #213854;
  --color-pt-blue-dark: #1b2c42;
  --color-pt-blue-light: #354a63;
  --color-options-bar: #007aff;
  --color-options-bar-txt: white;
  --color-options-bar-pill: #5d6e82;
  --color-panel-hover: #ecedf3;
  --color-warn: orange;
  --color-alert: red;
}

.panel {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.panel-header {
  background-color: #c6ced6;
  border-radius: 5px 5px 0 0;
  padding: var(--spacing-s);
}

.panel-body {
  border-width: 1px 1px 1px;
  border-style: solid;
  border-color: var(--color-gray-light);
  border-radius: 5px;
  flex-grow: 5;
}

/* don't have top border if there is a header */
.panel-header + .panel-body {
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 5px 5px;
}

.panel-item {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--color-gray-light);
  padding: var(--spacing-s);
  cursor: pointer;
}

.panel-item:hover {
  background-color: #ecedf3;
}

.panel-item:last-child {
  border-style: none;
}

.panel-loading {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.panel-message-body {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0 1px 1px 1px;
  border-color: var(--color-gray-light);
  border-style: solid;
}

:root {
  --spacing-xl: 50px;
  --spacing-l: 30px;
  --spacing-m: 15px;
  --spacing-s: 10px;
  --spacing-xs: 5px;
  --spacing-xxs: 3px;
  --border-radius-s: 3px;
  --border-radius-m: 5px;
}

.padding-m {
  padding: 15px;
  padding: var(--spacing-m);
}

.padding-s {
  padding: 10px;
  padding: var(--spacing-s);
}

.padding-xs {
  padding: 5px;
  padding: var(--spacing-xs);
}

.spacing-top-xs {
  margin-top: 5px;
  margin-top: var(--spacing-xs);
}

.spacing-top-m {
  margin-top: 15px;
  margin-top: var(--spacing-m);
}

/* we also need to add margins here */

input {
  box-shadow: none;
  border: 1px solid #c6ced6;
  border-radius: 3px;
  padding: var(--spacing-xs);
  font-size: inherit;
  margin: var(--margin-inputs);
  outline: none;
}

select {
  padding: var(--spacing-xs);
  font-size: inherit;
  margin: var(--margin-inputs);
  outline: none;
  border: 1px solid #aaa;
  border-radius: 3px;
}


table.content-table {
  position: relative;
  width: 100%;
}

table.content-table th {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  padding: var(--spacing-s);
  text-align: left;
  background-color: var(--header-color);
  color: var(--header-text-color);
  font-weight: bold;
}

table.content-table > tbody > tr > td {
  border-top: 1px solid var(--header-color);
  padding: var(--spacing-s);
}

table.content-table > tbody > tr:hover {
  background-color: var(--hover-color);
}

table.content-table > tbody > tr.expanded:hover {
  background-color: white;
}

table.content-table > tbody > tr.expanded-content > td {
  border-top: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-justify-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-justify-start {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
  .flex-justify-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}



.button-primary {
  border-radius: 5px;
  color: #69707D;
  background-color: white;
}

.button-primary:hover {
  background-color: #0863C6;
}

.button-minimal {
  color: #69707D;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.button-minimal:hover {
  background-color: white;
  border: 1px solid #69707D;
}

.button-big {
  font-size: 22px;
}

.button-medium {
  font-size: 17px;
}

.button-small {
  font-size: 14px;
}

.button-secondary {
  color: #69707D;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.button-secondary:hover {
  background-color: white;
  border: 1px solid #69707D;
}

.select {
  color: #69707D;
  border: 1px solid #bbb;
  cursor: pointer;
}

.select:hover {
  border: 1px solid #69707D;
}

.property-grid {
  display: grid;
  width: 100%;
  margin-right: 0;
  grid-template-columns: 95px 1fr;
  grid-row-gap: 3px;
}

#content-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 50;
  color: white;
  background-color: var(--color-options-bar);
}

@media only screen and (max-width: 700px) {
  #content-header {
    flex-direction: column;
    justify-content: flex-start;
  }
}

#header-title {
  align-items: center;
  display: flex;
  padding: var(--spacing-m);
  flex-direction: row;
}

@media only screen and (max-width: 700px) {
  #header-title {
    align-items: center;
    display: flex;
    padding: var(--spacing-s);
    flex-direction: row;
  }
}

#header-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: var(--spacing-s);
}

@media only screen and (max-width: 700px) {
  #header-actions {
    padding-top: 0;
  }
}

:root {
  --nav-size: 0;
}

.panel-dark > .panel-body {
  background-color: #5d6e82;
  border-color: #5d6e82;
}

.panel {
  width: auto;
}

@media only screen and (max-width: 800px) {
  .panel-half {
    width: calc(100% - var(--spacing-m));
  }
}

.panel-full {
  width: calc(100% - var(--spacing-m));
}

.container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  border-radius: var(--spacing-xs);
  width: 250px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

.modal-title {
  border-radius: var(--spacing-xs) var(--spacing-xs) 0 0;
  padding: var(--spacing-s);
  background-color: var(--color-gray-light);
}

.modal-body {
  padding: var(--spacing-s);
}

.modal-footer {
  text-align: right;
  padding: 0 var(--spacing-s) var(--spacing-s) var(--spacing-s);
}

select#language {
  width: 100%;
}

#partners {
  width: 100%;
}


/*# sourceMappingURL=main.7bf4771d.chunk.css.map*/